#curriculo {
  .cv-pic {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  #curriculo {
    .cv-pic {
      float: none;
      max-width: 100%;
      margin-right: 0px;
    }
  }
}
