.menu-nav--principal {
  background-color: #020e34;
  color: white;
  height: 50px;
  animation-name: navegacao;
  animation-duration: 4s;
  ul {
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
    text-align: right;
    height: 50px;
    line-height: 50px;
  }

  li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 100;
    &.threeline-icon {
      display: none;
      &:hover {
        color: #1cd6d0;
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: #1cd6d0;
    }
  }
}

.menu-nav--mobile {
  display: none;
}

@media (max-width: 1000px) {
  .menu-nav--principal{    
    li {
      display: none;
    }
    li.threeline-icon {
      display: inline-block;
    }
  }
  .menu-js {
    height: auto;
    ul {
      height: auto;
      text-align: center;
      padding-right: 15%;
      padding-left: 15%;
    }
    li {
      display: block;
      border-bottom: solid #086f6e 1px;
    }
  }
}

@keyframes navegacao {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
